#theme {
  top: 2rem;
}

nav {
  margin: 1rem auto;
  padding: 0.6rem;
  background-color: hsl(var(--clr-lighter), 0.2);

  input {
    margin-bottom: 0.6rem;
    padding: 0.6rem 2rem;
    font-size: 1.2rem;
    border-radius: 0.4rem;
    max-width: 80%;
    &:focus {
      width: 80%;
    }
  }

  div.flex {
    flex-wrap: wrap;
    justify-content: start;

    button {
      padding: 0.6rem 1rem;
      border-radius: 0.4rem;
    }
    button.selected {
      border-right: 0.4rem solid hsl(var(--clr-darker));
    }
  }
}

.grid {
  @media (width>40rem) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (width>60rem) {
    grid-template-columns: repeat(3, 1fr);
  }
  &.loading {
    opacity: 0.4;
    pointer-events: none;
  }
}

article.product {
  padding: 1rem 0.6rem;
  flex-direction: column;
  text-align: center;
  background-color: hsl(var(--clr-lighter), 0.2);

  p {
    margin: 0.6rem;
    font-size: 1.2rem;
  }

  img {
    border-radius: 0.4rem;
  }
}
